html,
body {
  height: 100%;
  color: gray;
  font-family: Helvetica;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $primary !important;
  }
}
.p-short {
  font-size: 20px;
  padding: 40px 0;
}
.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
  max-width: 300px;
  height: 100%;
  background: $primary;
  .nav-item {
    letter-spacing: 5px;
    color: white;
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 10px;
    &:hover {
      transform: scale(1.1);
      color: white !important;
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  overflow: scroll;
  color: gray;
}
hr {
  margin-top: 0px;
}
.title {
  font-size: 70px;
  color: black;
}
.title-sm {
  margin-top: 20px;
  font-size: 50px;
  color: black;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  border-bottom: solid #eee 1px;
}

.typed {
  font-weight: normal;
  color: $primary;
}
.cursor {
  display: inline-block;
  background-color: gray;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.cursor.typing {
  animation: none;
}
.social-div {
  font-size: 50px;
}

@keyframes blink {
  0% {
    background-color: gray;
  }
  49% {
    background-color: gray;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: gray;
  }
}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  margin-top: 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: $primary;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
  color: $primary;
  font-weight: bold;
}
.timeline-company {
  color: $dark;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
